<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <!-- <clear /> -->
    <!-- WebAPIのフォルダを参照（一元管理のため） -->
    <add key="local" value="../../WebAPI/src/localPackages" />
 </packageSources>
</configuration>
